* {
  box-sizing: border-box;
}

:root {
  --color-grey-text: rgba(136, 136, 136, 1);
  --color-grey-bg: rgba(238, 238, 238, 1);
}

div img {
  max-width: 100%;
  height: 400px;
}

.price {
  font-size: 1.5rem;
  color: var(--color-grey-text);
}
.status {
  border-radius: 40px;
  width: 100px;
  padding: 2px;
  height: auto;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;

  text-align: center;
}

.card-text {
  color: var(--color-grey-text);
}
.card {
  background-color: var(--color-grey-bg) !important ;
}
.styles2 {
  display: flex;
  flex-direction: column;
}

.text-secondary {
  text-align: center;
}

.category {
  position: relative;
  width: 100%;
  height: 200px;
  display: inline-block;
}

.category-image {
  width: 100%;
  height: auto;
}

.sobreposicao {
  width: 100%;
  height: 172px;
  background-color: rgba(105, 103, 103, 0.651);
  position: absolute;
  top: 0;
  bottom: 0;
}

.titulo {
  width: 100%;
  text-align: center;
  color: white;
  position: absolute;
  top: 40%;
}

.footer {
  display: flex;
}

.image-maps {
  border-radius: 20px;
  width: 80%;
  height: auto;
}

.content-footer {
  width: 100%;
  display: flex;
}

.rigth {
  text-align: left;
  display: flex;
  justify-content: center;
  line-height: 16px;
  flex-direction: column;
}
